<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div layout:fragment="content" class="container">

    <div class="container" style="margin-top: 25px;">
        <table class="table-bordered">
            <thead class="table-dark">
            <tr>
                <th th:text="#{name}"></th>
                <th th:text="#{attackPower}"></th>
                <th th:text="#{abilityPower}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champion : ${champions}">
                <td th:text="${champion.name}">name</td>
                <td th:text="${champion.attackPower}">attackPower</td>
                <td th:text="${champion.abilityPower}">abilityPower</td>
                <td>
                    <a th:href="@{'/users/' + ${userId} + '/editChampion/' + ${champion.id}}" class="btn btn-success"
                       th:text="#{edit}"></a>
                </td>
                <td>
                    <a th:href="@{'/users/' + ${userId} + '/deleteChampion/' + ${champion.id}}" class="btn btn-danger"
                       th:text="#{delete}"></a>
                </td>
                <td>
                    <a th:href="@{'/champions/' + ${champion.id} + '/' + ${userId}}" class="btn btn-info"
                       th:text="#{matchHistory}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="list-group" style="margin-top: 15px;">
            <a th:href="@{'/users/' + ${userId} + '/addChampion'}"
               class="list-group-item list-group-item-success"
               th:text="#{addChampion}">
            </a>
            <a th:href="@{'/users/' + ${userId}}"
               class="list-group-item list-group-item-success"
               th:text="#{goBack}">
            </a>
        </div>
    </div>

</div>
</body>
</html>