<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
        <div class="modal-header">
            <h3 id="myModalLabel" th:text="#{deleteConfirmation}"></h3>
        </div>
        <div class="modal-body">
            <p class="error-text" th:text="#{deleteChampionConfirmation}"></p>
        </div>
        <div class="modal-footer">
            <a th:href="@{'/users/' + ${userId} + '/champions'}">
                <button class="btn" data-dismiss="modal" aria-hidden="true" th:text="#{no}"></button>
            </a>
            <form action="#" th:action="@{'/users/' + ${userId} + '/deleteChampion/' + ${championId}}"
                  method="post"
                  style="display: inline-block;">
                <input type="submit" class="btn btn-danger" data-dismiss="modal" th:value="#{yes}"/>
            </form>
        </div>
</div>
</body>
</html>