<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div layout:fragment="content" class="container">

    <div class="container">
        <h2 th:text="#{editChampion}"></h2>
        <form action="#" th:action="@{'/users/' + ${userId} + '/editChampion/' + ${championId}}"
              th:object="${champion}"
              method="post">
            <label th:text="#{name} + ': '"></label>
            <input type="text" th:field="*{name}"/>
            <label th:text="#{attackPower} + ': '"></label>
            <input type="text" th:field="*{attackPower}"/>
            <label th:text="#{abilityPower} + ': '"></label>
            <input type="text" th:field="*{abilityPower}"/>
            <input type="submit" th:value="#{edit}"/>
        </form>
    </div>

</div>
</body>
</html>