<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit" th:text="#{logout}">
        </button>
    </form>

    <div class="container">
        <h2 th:text="#{addMatch}"></h2>
        <form action="#" th:action="@{'/matches/addMatch'}" th:object="${match}" method="post">
            <label th:text="#{championWinnerName} + ' : '"></label>
            <input type="text" th:field="*{winner.name}"/>
            <label th:text="#{championLoserName} + ' : '"></label>
            <input type="text" th:field="*{loser.name}"/>
            <input type="submit" th:value="#{add}"/>
        </form>
    </div>

</div>
</body>
</html>