<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="container" style="margin-top: 25px;">

        <table class="table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Match Date</th>
                <th>Winner</th>
                <th>Loser</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="match : ${matches}">
                <td th:text="${match.matchDate}">matchDate</td>
                <td th:if="${championId} == ${match.winner.id}" style="background-color: greenyellow"
                    th:text="${match.winner.name}"></td>
                <td th:unless="${championId} == ${match.winner.id}" th:text="${match.winner.name}"></td>
                <td th:if="${championId} == ${match.loser.id}" style="background-color: orangered"
                    th:text="${match.loser.name}"></td>
                <td th:unless="${championId} == ${match.loser.id}" th:text="${match.loser.name}"></td>
            </tr>
            </tbody>
        </table>

        <div class="list-group" style="margin-top: 15px;">
            <a th:href="@{'/users/' + ${userId} + '/champions'}"
               class="list-group-item list-group-item-success">
                Go Back
            </a>
        </div>

    </div>

</div>
</body>
</html>