<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit" th:text="#{registrationPanel}"></button>
</form>

<div class="container" style="margin-top: 15px;">
    <form action="#" th:action="@{/login}" method="POST" class="form-signin">
        <span th:text="#{lang.change}"></span>:
        <select id="locales" style="margin-bottom: 15px;">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="pl" th:text="#{lang.pl}"></option>
        </select>

        <input type="text" id="email" name="email" th:placeholder="E-mail"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="#{password}"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="#{loginMessage}"></button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption !== '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

</body>
</html>