<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit" th:text="#{logout}">
        </button>
    </form>

    <table class="table-bordered" style="margin-top: 25px;">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th th:text="#{name}"></th>
            <th>E-mail</th>
            <th th:text="#{active}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.name}">name</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.active}">active</td>
        </tr>
        </tbody>
    </table>

    <div class="list-group" style="margin-top: 15px;">
        <a th:href="@{'/admin'}"
           class="list-group-item list-group-item-success"
           th:text="#{goBack}">
        </a>
    </div>
</div>

</body>
</html>